@model IEnumerable<BookingApp.Models.Offer>
@foreach (var offer in Model)
{
	@using (Html.BeginForm("CurrentOffer", "Booking", FormMethod.Post))
	{
		<p>@offer.title</p>
		@if (offer.Images != null && offer.Images.Count != 0)
		{
			<p>@offer.Images[0]</p>
		}

		else
		{
			<img src="~/images/DefaultPhoto.png" alt="Obraz" />
		}
		<button type="submit" id="OfferId" value="@offer.Id" name="OfferId">Przejdz do oferty</button>
	}
}