@model IEnumerable<BookingApp.Models.Offer>
@using (Html.BeginForm("SearchCurrentOffer", "Booking", FormMethod.Post))
	{
<p>pokoj liczbe pokoi<input type="number" name="RoomsNumber" /></p>
<p>podaj cene minimalna <input type="number" name="MinPrice" /></p>
<p>podaj cene maksymalna <input type="number" name="MaxPrice" /></p>
<p>podaj miasto<input type="text" name="City" /></p>
<button type="submit">Szukaj</button>
	}
@foreach(var offer in Model)
{
	@using (Html.BeginForm("CurrentOffer", "Booking", FormMethod.Post))
	{
		<p>@offer.title</p>
		@if (offer.Images[0] != null)
		{
			<p>@offer.Images[0]</p>
		}
		<button type="submit" id="OfferId" value="@offer.Id" name="OfferId">Przejdz do oferty</button>
	}
}